<%= render "shared/navbar" %>
<div class="container-tracker">
  <div class="date-form">
    <% option_month =  [['January',1], ['February',2], ['March',3], ['April',4], ['May',5], ['June',6], ['July',7], ['August',8], ['September',9], ['October',10], ['November',11], ['December',12]]%>
    <%= form_tag({controller: 'emotions', action: 'counter'}, method: 'get') do %>
      <%= select_tag(:month, options_for_select(option_month, params[:month]), id: "different_option_value_html", onchange: "this.form.submit()", include_blank: "Month: ", class: "month_input") %>
      <%= number_field_tag(:year, params[:year], min: 1900, max: 2099, step: 1, onchange: "this.form.submit()", placeholder: "Year: ", class: "year_input") %>
    <% end %>
  </div>

  <div class="track-graphs">
    <% if ((@emotion_h + @emotion_m + @emotion_s) != 0) %>
      <div class="track-faces">
        <div class='happy'>
          <i class="fa-regular fa-face-smile" id="smile"></i>
          <%= "#{(@emotion_h.fdiv(@emotion_h + @emotion_m + @emotion_s)*100).round}%" %>
        </div>
        <div class='meh'>
          <i class="fa-regular fa-face-meh" id="meh"></i>
          <%= "#{(@emotion_m.fdiv(@emotion_h + @emotion_m + @emotion_s)*100).round}%" %>
        </div>
        <div class='sad'>
          <i class="fa-regular fa-face-frown" id="frown"></i>
          <%= "#{(@emotion_s.fdiv(@emotion_h + @emotion_m + @emotion_s)*100).round}%" %>
        </div>
      </div>
      <div class="graphs">
        <% data = [["happy", (@emotion_h.fdiv(@emotion_h + @emotion_m + @emotion_s)*100).round], ["meh", (@emotion_m.fdiv(@emotion_h + @emotion_m + @emotion_s)*100).round], ["sad", (@emotion_s.fdiv(@emotion_h + @emotion_m + @emotion_s)*100).round]] %>
        <%= pie_chart data, colors:['green', 'orange', 'red'], legend: false %>
        <% if params[:month] == "" %>
          <%= "Total for #{params[:year]}" %>
        <% else %>
          <%= "Month: #{Date::MONTHNAMES[params[:month].to_i]}" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
