<h1>Face Tracker</h1>
<%# <%= current_user.emotions.feeling("happy").count %>
<%# <%= @emotion.feeling %>
<ul>
  <li>Happy Count: <%= @emotion_h %></li>
  <li>Meh Count: <%= @emotion_m %></li>
  <li>Sad Count: <%= @emotion_s %></li>
</ul>
