<div class="container">
  <div class="row justify-content-center">
    <div class="col-6" data-controller="exercise">
      <%= form_with url: tiles_exercise_path, method: :get, class: "d-flex", data: {action: "submit->exercise#geocode"} do %>
          <%= text_field_tag :address,
            params[:address],
            class: "form-control",
            placeholder: "Type an address",
            "data-exercise-target": "input"
            %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

      <%# <%= params[:address] %>

      <p class="font-monospace lead text-center fw-bold" data-exercise-target="coords">
        <!-- Display the coordinates here -->
      </p>
       <div id="map" style="height: 300px; width: 600px">
          <!-- Display the map in this div -->
        </div>
      </div>
    </div>
</div>


<%# <div class="container">
  <div class="row justify-content-center">
    <div class="col-6" data-controller="exercise"> %>

    <%# <%= form class: "d-flex" do |f| %>
      <%# <div data-action="submit->exercise#geocode"> %>
        <%# <div class="form-inputs" data-exercise-target="input"> %>
          <%# <%= f.input :address, params[:address] %>
        <%# </div> %>
        <%# <div class="form-actions"> %>
          <%# <%= f.button :submit, "Save" %>
        <%# </div> %>
      <%# </div> %>
      <%# <% end %>
      <%# </form > %>


    <%# <%= form_with url: tiles_exercise_path, method: :get, class: "d-flex", data-action="submit->exercise#geocode" => %>
      <%# <%= text_field_tag :address, %>
          <%# params[:address],
          class: "form-control flex-grow-1 me-2",
          placeholder: "Select a date",
          data-exercise-target="input"
      %>
      <%# <%= submit_tag "Search", class: "btn btn-primary" %>
    <%# <% end %>

      <%# <% form class="d-flex my-5" data-action="submit->exercise#geocode" %>
        <%# <%= input type="text" class="form-control flex-grow-1 me-2" placeholder="Type an address" data-exercise-target="input" %>
        <%# <%= input type="submit" value="Geocode!" class="btn btn-primary" %>
      <%# </form> %>


      <%# <p class="font-monospace lead text-center fw-bold" data-exercise-target="coords">
        <!-- Display the coordinates here -->
      </p>
       <div id="map" style="height: 300px; width: 600px">
          <!-- Display the map in this div -->
        </div>
      </div>
    </div>
</div> %>
