<h1>Main page</h1>
<%# https://type.fit/api/quotes %>
<%# "https://zenquotes.io/api/today" %>
<div data-controller="quotes" data-quotes-url-value="https://type.fit/api/quotes">
  <ul>
    <li><%= link_to "Journal", posts_path %></li>
    <li><%= link_to "Breathing", tiles_breathing_path %></li>
    <li><%= link_to "Exercise", tiles_exercise_path %></li>
    <li><%= link_to "Contacts", tiles_contacts_path %></li>
    <li><%= link_to "Chat", tiles_chat_path %></li>
    <li><%= link_to "Goals", goals_path %></li>
    <div data-quotes-target="quote" id="quote"></div>
    <br>
    <% @data.each do |data| %>
    <%= "Quote: #{data["q"]}" %>
    <% end %>

  </ul>
