<h1>Main page</h1>
<ul>
  <li><%= link_to "Journal", posts_path %></li>
  <li><%= link_to "Breathing", tiles_breathing_path %></li>
  <li><%= link_to "Exercise", tiles_exercise_path %></li>
  <li><%= link_to "Contacts", tiles_contacts_path %></li>
  <li><%= link_to "Chat", tiles_chat_path %></li>
  <li><%= link_to "Goals", goals_path %></li>
  <li>Quote</li>
</ul>
