 <%= simple_form_for(post) do |f| %>
        <p><%= "Date: #{params[:date]}" %></p>
        <div class="form-inputs">
          <%= f.input :title %>
        </div>
        <div class="form-inputs">
          <%= f.rich_text_area :rich_body %>
        </div>
        <div class="form-inputs">
          <%= f.input_field :date, as: :hidden, value: params[:date] %>
        </div>
        <%# <%= f.file_field :image %>
        <div class="form-actions">
          <button type="submit">
            <i class="fa fa-floppy-disk"></i>
          </button>
        </div>
  <% end %>
