<%= render "shared/navbar" %>
<div class="container-entry">
  <div class="date-and-add" style="display: flex; justify-content: space-between; ">
    <div class="selected_date">
      <%= form_with url: posts_path, method: :get, class: "d-flex" do %>
        <%= date_field_tag :date,
          params[:date],
          class: "form-control1",
          placeholder: "Select a date",
          :value => params["date"]
        %>
        <%= submit_tag "Search", class: "btn" %>
      <% end %>
    </div>

    <%= link_to '<i class="fa-solid fa-plus add-entry"></i>'.html_safe, new_post_path(date: params[:date]) %>
  </div>

  <div class="entry-area" style="height: 80vh;">
    <% unless params[:date].empty? %>
      <% if @my_posts.empty? %>
        <p style="text-align: center;color: #759cc9;">No entries for that day</p>
      <% else %>
        <% @my_posts.each do |post| %>
          <ul class="bullets">
            <li ><%= link_to post.title, post_path(post, date: params[:date]) %></li>
            <p><%= "Date: #{post.created_at.day}/#{post.created_at.month}/#{post.created_at.year}" %></p>
          </ul>
        <% end %>
      <% end %>
    <% else %>
      <p style="text-align: center;color: #759cc9;">Select an entry date</p>
    <% end %>
  </div>
</div>
