<br>
<%= link_to "Entries", posts_path(date: params[:date]) %>
<%# <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-notepad-tab" data-bs-toggle="tab" data-bs-target="#nav-notepad" type="button" role="tab" aria-controls="nav-notepad" aria-selected="true">Notepad</button>
    <button class="nav-link" id="nav-scribble-tab" data-bs-toggle="tab" data-bs-target="#nav-scribble" type="button" role="tab" aria-controls="nav-scribble" aria-selected="false">Scribble</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-notepad" role="tabpanel" aria-labelledby="nav-notepad-tab">
    <p>print something please</p>
    <h1><%= "Title: #{@post.title}" %>
    <%# <p><%= @post.notepad %>
  <%# </div> %>
  <%# <div class="tab-pane fade" id="nav-scribble" role="tabpanel" aria-labelledby="nav-scribble-tab"> %>
    <%# <p>Scribble page</p> %>
  <%# </div> %>
<%# </div> %>


<div class="container-entry">
  <h2>Entry</h2>
  <div class="tabs">
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
      <label for="tab-1" class="tab-label">Notepad</label>
      <div class="tab-content">
        <p><%= "Created on: #{params[:date]}" %></p>
        <h1><%= "Title: #{@post.title}" %></h1>
        <p><%= @post.rich_body %></p>
        <% if policy(@post).edit? %>
          <%= link_to '<i class="fa-regular fa-pen-to-square"></i>'.html_safe, edit_post_path(@post, date: params[:date]) %>
        <% end %>
        <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, post_path(@post, date: params[:date]), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(@post).destroy? %>
  </ul>
      </div>
    </div>
        <div class="tab">
          <input type="radio" name="css-tabs" id="tab-2" class="tab-switch" onClick="lets_draw()">
          <label for="tab-2" class="tab-label">Scribble</label>
          <div class="tab-content">
            <div id = "wrapper" >
              <p><%= "Date: #{params[:date]}" %></p>
              <canvas id="canvas">Canvas not Supported</canvas>
              <div id="buttons">
                <input type="color" id="color" value="#ff0000">
                <%# <input type="number" id="line-width" min="1" max="30"> %>
                <input type="range" id="line-width" name="line-width" min="1" max="30">
              </div>
              <input type="button" id="save" value="Save">
              <input type="button" id="load" value="Load">
              <input type="button" id="clear" value="Clear">
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
