<%= render "navbar5" %>
<div class="container-entry">
  <div class="tabs" style="width: 90%;">
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
      <label for="tab-1" class="tab-label">Notepad</label>
      <div class="tab-content" style="width: 100%;">
        <p><%= "Created on: #{params[:date]}" %></p>
        <h1><%= "Title: #{@post.title}" %></h1>
        <p><%= @post.rich_body %></p>
        <% if policy(@post).edit? %>
          <%= link_to '<i class="fa-regular fa-pen-to-square"></i>'.html_safe, edit_post_path(@post, date: params[:date]) %>
        <% end %>
        <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, post_path(@post, date: params[:date]), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(@post).destroy? %>
      </div>
    <%# </div>
        <div class="tab">
          <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
          <label for="tab-2" class="tab-label">Scribble</label>
          <div class="tab-content">
            <div id = "wrapper" >
              <p><%= "Date: #{params[:date]}" %>
              <%# <canvas id="canvas">Canvas not Supported</canvas>
              <div id="buttons">
                <input type="color" id="color" value="#ff0000">
                <input type="range" id="line-width" name="line-width" min="1" max="30">
              </div>
              <input type="button" id="save" value="Save">
              <input type="button" id="load" value="Load">
              <input type="button" id="clear" value="Clear">
            </div>
          </div>
        </div> %>
    </div>
  </div>
</div>
