<div class="container-goals">
  <h1>Goals</h1>

  <% if notice.present? %>
    <%= notice %>
  <% end %>

  <div class="input-goal">
    <%= render "form", goal: @goal %>
  </div>
  <br>

  <div class="goal-listed" data-controller="goals">

      <%= render @goals1 %>
      <br><br>
      <%= render @goals2 %>
      <br><br>
      <%= render @goals3 %>
      <br><br>
      <%= render @goals4 %>
  </div>
</div>
